<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/assets/css/blueimp-gallery.min.css">

<style>

</style>

<div class="container">
  <div class="row">
    <div ng-include="'app/components/navbar/navbar.html'"></div>
  </div>

  <button ng-click="toggleShowValue()" >CLick me </button>

  <div class="row" module-editor ng-show="showModuleEditor"/>
  <div class="row" course-info ng-show="showCourseInfoDiv"/>
  <div class="row" video-upload ng-show="showVideoUploadDiv" />

  <div ng-controller="ModalInstanceCtrl">
    <script type="text/ng-template" id="deleteClass.htm">
      <!--<div class="modal-header">-->
      <!--<h3 class="modal-title">I'm a modal!</h3>-->
      <!--</div>-->
      <div class="modal-body">
        <ul>
          <h3>{{modalMessage}}</h3>
          {{module.name}}
        </ul>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
      </div>
    </script>
    <button class="btn btn-default" ng-click="open()">Open me!</button>
  </div>

  <hr>
  <div class="footer">
    <p>With ♥ from <a href="https://twitter.com/Swiip">@Swiip</a></p>
  </div>

</div>



