
<div class="col-lg-9">
    <form class="form-horizontal" action="/create-course" method="POST">
        <fieldset>

            <!-- Form Name -->
            <legend>创建课程</legend>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="courseName">课程名称</label>
                <div class="col-md-8">
                    <input id="courseName" name="courseName" type="text" placeholder="输入课程名称" class="form-control input-md" required="">
                </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="courseDesc">课程简介</label>
                <div class="col-md-8">
                    <textarea class="form-control" id="courseDesc" name="courseDesc"  placeholder="输入课程简介" required></textarea>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="tutorEmail">讲师电子邮件</label>
                <div class="col-md-4">
                    <input id="tutorEmail" name="tutorEmail" type="email" placeholder="tutor@example.com" class="form-control input-md">
                </div>
            </div>

            <!-- Select Basic -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="courseType">课程类别</label>
                <div class="col-md-4">
                    <select id="courseType" name="courseType" class="form-control">
                        <option value="1">Nodejs</option>
                        <option value="2">javascript</option>
                        <option value="3">java</option>
                    </select>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="courseLevel">课程级别</label>
                <div class="col-md-4">
                    <select id="courseLevel" name="courseLevel" class="form-control">
                        <option value="beginer">初级</option>
                        <option value="medium">中级</option>
                        <option value="advanced">高级</option>
                    </select>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="courseTags">课程标签</label>
                <div class="col-md-4">
                    <input id="courseTags" name="courseTags" type="text" placeholder="课程标签" class="form-control input-md">
                </div>
            </div>

            <!-- Button (Double) -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="submit"></label>
                <div class="col-md-8">
                    <button id="submit" type="submit" class="btn btn-success">创建课程</button>
                    <button id="reset" type="reset" class="btn btn-danger">重填</button>
                </div>
            </div>

        </fieldset>
    </form>
</div>
