<!DOCTYPE html>
<html>
  <head>
    <title>New Sails App</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/bootstrap/bootstrap.min.css">
     <link rel="stylesheet" href="/styles/bootstrap/docs.min.css">
    <!--STYLES END-->
  </head>

  <body data-twttr-rendered="true">

  <header class="navbar navbar-static-top bs-docs-nav navbar-fixed-top" id="top" role="banner">
      <div class="container">
          <div class="navbar-header">
              <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a href="../" class="navbar-brand">Bootstrap</a>
          </div>
          <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
              <ul class="nav navbar-nav">
                  <li>
                      <a href="../getting-started/">Getting started</a>
                  </li>
                  <li>
                      <a href="../css/">CSS</a>
                  </li>
                  <li>
                      <a href="../components/">Components</a>
                  </li>
                  <li>
                      <a href="../javascript/">JavaScript</a>
                  </li>
                  <li class="active">
                      <a href="../customize/">Customize</a>
                  </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                  <li><a href="http://expo.getbootstrap.com" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Expo');">登录</a></li>
                  <li><a href="http://blog.getbootstrap.com" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Blog');">注册</a></li>
              </ul>
          </nav>
      </div>
  </header>

  <div class="bs-docs-header" id="content">
      <div class="container">
          <div id="carbonads-container">
              <div class="carbonad"><div id="azcarbon"><span>
                   inut
                  </div>
              </div>
          </div>
      </div>
  </div>

    <%- body %>

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/upload.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
