<div class="large-6 columns" id="mf239">
  <form action="https://www.pluralsight.com/a/SignIn" method="POST" class="reg ng-pristine ng-valid" id="mf_form0">
    <input name="__RequestVerificationToken" type="hidden" value="_xUIny-luhrBpIDO76AIDAyw0dkxD8iYvgHzp1IsbN9lhaWKpAhb-vI3ReLf5bkoSKYf0UsO3jr9IgDCcwJTdguuFZM1">
    <input id="ReturnUrl" name="ReturnUrl" type="hidden" value="http://www.pluralsight.com/">
    <input id="SsoReturnUrl" name="SsoReturnUrl" type="hidden" value="">
    <input data-val="true" data-val-required="The ShowDigitalTutorsSignIn field is required." id="ShowDigitalTutorsSignIn" name="ShowDigitalTutorsSignIn" type="hidden" value="True">
    <input data-val="true" data-val-required="The ShowSsoSignIn field is required." id="ShowSsoSignIn" name="ShowSsoSignIn" type="hidden" value="True">

    <label class="" id="mf240">
      Username (or Email)
      <input id="userHandle" type="text" name="UserHandle" tabindex="1" autofocus="" value="">

    </label>
    <label class="" id="mf241">
      Password <a href="http://www.pluralsight.com/training/login/forgotpassword?showCaptcha=False&amp;failedCaptcha=False" tabindex="4" style="font-size: 9px; font-weight: 600;" id="mfa100">Forgot Password?</a>
      <input id="password" type="password" name="Password" tabindex="2">

    </label>
    <input name="CaptchaVm.ShowCaptcha" data-val="true" data-val-required="The ShowCaptcha field is required." id="ShowCaptcha" type="hidden" value="False">

    <input id="submit" type="submit" class="button" value="Sign in" style="margin-bottom: 0;">
    <label class="digital-tutors" id="mf242">Have a Digital-Tutors account? Click <a class="ui-dt-sign-in-link" href="https://www.digitaltutors.com/sso/authorize.php?response_type=code&amp;client_id=ps_sso_production&amp;state=http://www.pluralsight.com/" id="mfa101">here</a> to sign in.</label>
  </form>
  <label class="termsOfUse" id="mf243">By clicking "Sign in," you agree to Pluralsight's <a href="http://blog.pluralsight.com/terms-of-use" target="_blank" id="mfa102">terms of use</a></label>
</div>
