<div class="row">
  <div class="left"><h6>更多信息 </h6></div>
</div>

<div class="row">
  <table class="table table-striped table-hover table-condensed">
    <tr>
      <td>级别</td>
      <td><Strong>{{course.level}}</Strong></td>
    </tr>
    <tr>
      <td>总时间</td>
      <td> {{course.duration}}</td>
    </tr>
    <tr>
      <td>发布时间</td>
      <td><Strong>{{course.releasedAt}} </Strong></td>
    </tr>
    <tr>
      <td>状态</td>
      <td><Strong> {{course.status}}</Strong></td>
    </tr>
    <tr>
      <td>排行榜</td>
      <td><Strong> {{course.rank}}</Strong></td>
    </tr>
    <tr>
      <td>播放次数</td>
      <td><Strong> {{ course.viewtimes > 0 ? course.viewtimes : 0 }}</Strong></td>
    </tr>
  </table>
</div>
