<div ng-controller="PlayCtrl">
  <tabset>
    <tab ng-repeat="tab in tabs" heading="{{tab.title}}"
         active="tab.active"
         select="select(tab)"
         ng-click="tabClick(tab)"
      >
      <div ng-repeat="section in tab.sections" class="videoCarousel">
        <div ng-show="showTab(tab)" class="sectionNameBlock" ng-class="getVideoClass(section)" ng-click="videoClicked(tab,section)">
          <div class="sectionName">
             {{section.name}}
          </div>
          <div class="videoDuration">
            4:12
          </div>
        </div>
      </div>
    </tab>
  </tabset>
</div>
