<div class="container">
<div class="row">
  <div class="col-md-12">
      <span>
        <h1>{{ course.name }}</h1>
        <h4>{{course.desc}} </h4>
       <div>
         <h5>讲师 <a href="/tutor/{{coourse.tutor.id}} "> {{course.tutor.displayName}} </a></h5>
       </div>
        </span>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
      <span>
         <h4> 所有章节
           <button type="button" class="btn btn-primary btn-xs" ng-click="createModule()">
             <i class="glyphicon glyphicon-plus"/> 增加新章节
           </button>
         </h4>
        </span>
  </div>
</div>
<br/>

<div class="row">
  <div class="col-lg-7" modules-list/>

  <div class="col-lg-1">

  </div>
  <div class="col-lg-2">
   <div course-extra-info />
  </div>
</div>

</div>
