<div ng-controller="PlayCtrl">
  <tabset>
    <tab ng-repeat="module in modules" heading="{{module.name}}"
         active="module.active"
         select="select(module)"
         ng-click="moduleClick(module)"
      >
      <div ng-repeat="video in module.videoCollection" class="videoCarousel">
        <div ng-show="showModule(module)" class="sectionNameBlock" ng-class="getVideoClass(video)" ng-click="videoClicked(modules,video)">
          <div class="sectionName">
             {{video.name}}
          </div>
          <div class="videoDuration">
             {{video.duration}}
          </div>
        </div>
      </div>
    </tab>
  </tabset>
</div>
