<h1>user signup form </h1>

<div class="large-6 columns" id="mf239">
  <form action="/user/create" method="POST" class="form-signin">

    <label class="" id="mf240">
      Username
     <input type="text" name="name" placeholder="you name" tabindex="1" autofocus="" value="">
    </label>

	<label class="" id="mf240">
      email
     <input id="password" placeholder="password" type="password" name="password" tabindex="2">
    </label>

    <input id="submit" type="submit" class="button" value="Sign in" style="margin-bottom: 0;">
    </form>
</div>
