<div class="container">
  <div ng-include="'app/components/navbar/navbar.html'"></div>
  <div class="jumbotron text-left">

    <form class="form-horizontal" name="loginForm">
      <fieldset>

        <!-- Form Name -->
        <legend>用户登录</legend>

        <!-- email input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="email">电子邮件</label>

          <div class="col-md-4">
            <input id="email" name="email" type="text" ng-model="email" placeholder="电子邮件"
                   class="form-control input-md">
            <span style="color:red" ng-show="loginForm.email.$dirty &&
                 loginForm.email.$invalid">
            <span ng-show="loginForm.email.$error.required">电子邮件不能为空</span>
            <span ng-show="loginForm.email.$error.email">无效电子邮件</span>
            </span>
          </div>
        </div>

        <!-- Password input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="password">密码</label>

          <div class="col-md-4">
            <input id="password" name="password" type="password" ng-model="password" aceholder="密码"
                   class="form-control input-md">
            <span style="color:red" ng-show="loginForm.password.$dirty &&
                   loginForm.password.$invalid">
              <span ng-show="loginForm.password.$error.required">
                  密码不能为空
              </span>

            </span>
            <span class="help-block"></span>
          </div>
        </div>

        <!-- Button -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="cbLogin"></label>

          <div class="col-md-4">
            <button id="cbLogin" name="cbLogin" ng-click="login()"
                    ng-disabled="loginForm.$invalid" class="btn btn-primary">登录
            </button>
          </div>
        </div>

      </fieldset>
    </form>

  </div>

  <hr>

</div>
