<div class="container">
  <div class="row">
    <div ng-include="'app/components/navbar/navbar.html'"></div>
  </div>
  

<div class="col-md-4">
<form ng-submit="submitSignupForm()" id="sign-up-form" class="form-signin" name="signup"> 
	<h2 class="form-signin-heading">Create an account</h2>
	<div class="row">

		<div class="control-group form-group col-md-12" 
				ng-class="{'has-error':signup.name.$invalid &&
				signup.name.$dirty ">
			<label>You full name</label>
			<input type="text" class="form-control" placeholder="eg.Nikola Tesla" name="name" ng-module="signupForm.name" ng-maxlength="50"/> 

			<span class="help-block has-error" ng-if="signup.name.$dirty">
				<span ng-show="signup.name.$error.required">Name is required</span>
				<span ng-show="signup.name.$error.maxlength">The name cannot be more than 50 charactors</span>
			</span>
		</div>

		<!-- title --> 
		<div class="control-group form-group col-md-12" ng-class="{'has-error':signup.title.$invalid &&signup.title.$dirty}"> 
			<label>You title</label>
			<input type="text" class="form-control" placeholder="eg.Gnius" name="title" ng-module="signupForm.title" ng-maxlenght="50"> 
			<span class="help-block has-error" ng-if="signup.name.$dirty">
				<span ng-show="signup.title.$error.required">title is required</span>
				<span ng-show="signup.title.$error.maxlength">The title cannot be more than 50 charactors</span>
			</span>
		</div> 
	</div>
</form>
</div>
</div>