
<container>

  <div>
    <button ng-click="changeBackground()">Change background </button>
    <button ng-click="addText()"> Add text </button>
  </div>

  <div>
    <img src="/assets/test/callout/callout_circle_right/callout_circle_right.svg" id="my-image" width="100" height="60">
  </div>
  <div class="col-lg-5">
    <canvas id="c" width="1000" height="1000"></canvas>
  </div>

</container>

<script language="JavaScript">

//  var canvas = new fabric.Canvas('c');
//
//
//
//  canvas.backgroundColor = 'rgba(0,0,255,0.3)';
//  var imgElement = document.getElementById('my-image');
///* var imgInstance = new fabric.Image(imgElement, {
//
//    left: 100,
//    top: 100,
//    angle: 30,
//    opacity: 0.85
//  }
//  canvas.add(imgInstance);
//  */
//
//  fabric.Image.fromURL('assets/test/20060723091548abick8.gif',
//  function(oImage){
//    canvas.add(oImage);
//  }
//  );
//
//  //canvas.setBackgroundImage('/assets/test/img_1852.jpg', canvas.renderAll.bind(canvas))


</script>


